body {
	background-color: #2c3e50;
	margin-bottom: 0px;
}

/* styles the white page */
.page {
	border: solid, white;
	background-color: white;
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 75px;
	margin: 0 auto;
}

/* styles the first line just underneath REACH */
#lineone {
	width: 700px;
	position: absolute;
	top: 165px;
	left: 245px;
	border-width: 5px;
}

/* styles "reach" */
.mainheading h1 {
	font-family: 'Raleway';
	position: absolute;
	text-align: center;
	color: #2c3e50;
	top: 25px;
	font-size: 60px;
	left: 470px;
	letter-spacing: 20px
}

/*Styles "Mobile:" */
.phonenumbers h1 {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 200px;
	left: 425px;
	letter-spacing: 4px;
}

/* styles the mobile number */
.phonenumbers h2 {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 197px;
	left: 555px;
	letter-spacing: 4px;
	font-weight: normal;
}

/* styles "Home phone number" */
.phonenumbers h3 {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 250px;
	left: 440px;
	letter-spacing: 4px;
}

/* styles the home phone number */
.phonenumbers h4 {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 242px;
	left: 555px;
	letter-spacing: 4px;
	font-weight: normal;
}

/* styles the second line below home phone number */
#linetwo {
	width: 700px;
	position: absolute;
	top: 345px;
	left: 245px;
	border-width: 5px;
}

/* styles "Personal E-mail" */
.email h1 {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 385px;
	left: 272px;
	letter-spacing: 4px;
}

/*styles nknathankoo@gmail.com */
#personalemail {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 376px;
	left: 550px;
	letter-spacing: 4px;
}

/* styles "School E-mail" */
.email h2 {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 450px;
	left: 287px;
	letter-spacing: 4px;
}

/* styles nhjkoo@edu.uwaterloo.ca */
#schoolemail {
	font-family: 'Quicksand';
	font-size: 25px;
	position: absolute;
	top: 446px;
	left: 530px;
	letter-spacing: 4px;
}

/* The next three style the toolbar */
.toolbar ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
	position: absolute;
	top: 20px;
	left: 110px;
	width: 85%;
	letter-spacing: 4px;
}

.toolbar li {
	float: left;
}

.toolbar a {
	font-family: "Open Sans";
	text-align: center;
	color: black;
	padding: 20px 50px;
	font-size: 17px;
	text-decoration: none;
}

/*styles the main gray section of the bottom toolbar*/
.bottomtoolbar {
	border: solid black;
	background-color: black;
	width: 1343px;
	position: absolute;
	left: 0px;
	top: 545px;
	height: 200px;
}

/*styles the wording "CONNECT"*/
.title {
	color: white;
	font-family: "Spectral" ;
	font-size: 15px;
	position: absolute;
	bottom: 110px;
	left: 595px;
	text-align: center;
	font-weight: 100;
}

/*styles the wording "connect"*/
.title {
	color: white;
	font-family: "Spectral" ;
	font-size: 15px;
	position: absolute;
	bottom: 110px;
	left: 600px;
	text-align: center;
	font-weight: 100;
}

/*styles the wording "facebook"*/
.facebook a {
	position: absolute;
	left: 562px;
	bottom: 15px;
}

/*styles the wording "instagram"*/
.instagram a {
	position: absolute;
	left: 610px;
	bottom: 7px;
}

/*styles the wording "twitter"*/
.twitter a {
	position: absolute;
	left: 674px;
	bottom: 17px;
}

/*styles the wording "Gmail"*/
.gmail a {
	position: absolute;
	left: 727px;
	bottom: 17px;
}

/*styles the line before the first line*/
.zeroline hr {
	width: 1323px;
	color: white;
	position: absolute;
	top: -101px;
	left: -603px;
	border-width: 13px;
}

/*styles the first line*/
.firstline hr {
	width: 475px;
	position: absolute;
	left: -169px;
	color: white;
	top: -50px;
}

/*styles the second line*/
.secondline hr {
	width: 475px;
	position: absolute;
	left: 432px;
	color: white;
	top: 85px
}

.title h1 {
	font-family: "Open Sans";
	font-size: 22px;
	color: white;
	position: absolute;
	left: -4px;
	top: -50px;
	letter-spacing: 8px;
}

/*The next three style the toolbar within the bottomtoolbar*/
.toptoolbarwithin ul {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 20px;
	top: 41px;
	width: 15%;
	list-style-type: none;
	letter-spacing: 3px;
	line-height: 28px;
}

.toptoolbarwithin a {
	font-family: "Open Sans";
	text-align: center;
	color: white;
	font-size: 15px;
	text-decoration: none;
}

/* styling for the search bar */
input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	position: relative;
	left: 1139px;
	top: 47px;
}

/* Styling for "Content" in copyright section */
.copyright h1 {
	font-family: 'Open Sans';
	font-size: 11px;
	position: absolute;
	color: white;
	top: 149px;
	left: 1022px;
}

/* styles the 2017 Nathan Koo. All Rights Reserved */
.copyright h2 {
	font-family: 'Open Sans';
	font-size: 11px;
	position: absolute;
	color: white;
	top: 147px;
	left: 1083px;
}

/* styles the copyright icon */
.copyright img {
	position: relative;
	top: 136px;
	left: 1063px;
	color: white;
}