body{
	background-color: #2c3e50;
	margin-bottom: 0px;
}

/* styles the white page in the background */
.page {
	border: solid, white;
	background-color: white;
	width: 1200px;
	height: 1500px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 75px;
	margin: 0 auto;
}

/* styles the heading "Showcase" */
.heading h1 {
	color: #2c3e50;
	font-family: 'Raleway';
	position: absolute;
	top: 40px;
	left: 235px;
	font-size: 48px;
	letter-spacing: 4px;
	width: 65%;
}

/* styles the pictures of just the trench (all similar elements)*/
.trench img {
	position: absolute;
	top: 200px;
	border: outset;
}

#firsttrench {
	left: 187.5px;
}

#secondtrench {
	left: 462.5px;
}

#thirdtrench {
	left: 737.5px;
}

/* styles the descriptive sentence underneath the trench pics */
.trench h1 {
	position: absolute;
	top: 505px;
	left: 5px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 18px;
	color: #2c3e50;
	letter-spacing: 3px;
	width: 100%;
}

/*styles the first line underneath 'showcase' */
#firstline {
	width: 1000px;
	position: absolute;
	top: 150px;
	left: 100px;
	border-width: 5px;
}

/* styles the pictures of gravelrock */
.gravel img{
	position: absolute;
	top: 555px;
	border: outset;
}

#gravel1 {
	left: 187.5px;
}

#gravel2 {
	left: 462.5px;
}

#gravel3 {
	left: 737.5px;
}

/* styles the descriptive text for gravelrock */
.gravel h1 {
	position: absolute;
	top: 865px;
	left: 193px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 18px;
	color: #2c3e50;
	letter-spacing: 3px;
	width: 69%;
}

/* styles the pictures of riverstone */
.riverstone img {
	position: absolute;
	top: 940px;
	border: outset;
}

#river1 {
	left: 187.5px;
}

#river2 {
	left: 462.5px;
}

#river3 {
	left: 737.5px;
}

.riverstone h1 {
	position: absolute;
	top: 1250px;
	left: 169px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 18px;
	color: #2c3e50;
	letter-spacing: 3px;
	width: 73%;
}

/* The next three style the toolbar */
.toolbar ul {
	padding: 0;
	list-style-type: none;
	margin: auto;
	position: absolute;
	top: 20px;
	left: 40px;
	width: 95%;
	letter-spacing: 4px;
}

.toolbar li {
	float: left;
}

.toolbar a {
	font-family: "Open Sans";
	text-align: center;
	color: black;
	padding: 20px 50px;
	font-size: 17px;
	text-decoration: none;
}

/*styles the main gray section of the bottom toolbar*/
.bottomtoolbar {
	border: solid black;
	background-color: black;
	width: 1343px;
	position: absolute;
	left: -75px;
	top: 1330px;
	height: 200px;
}

/*styles the wording "connect"*/
.title {
	color: white;
	font-family: "Spectral" ;
	font-size: 15px;
	position: absolute;
	bottom: 110px;
	left: 600px;
	text-align: center;
	font-weight: 100;
}

/*styles the wording "facebook"*/
.facebook a {
	position: absolute;
	left: 562px;
	bottom: 15px;
}

/*styles the wording "instagram"*/
.instagram a {
	position: absolute;
	left: 610px;
	bottom: 7px;
}

/*styles the wording "twitter"*/
.twitter a {
	position: absolute;
	left: 674px;
	bottom: 17px;
}

/*styles the wording "Gmail"*/
.gmail a {
	position: absolute;
	left: 727px;
	bottom: 17px;
}

/*styles the line before the first line*/
.zeroline hr {
	width: 1325px;
	color: white;
	position: absolute;
	top: -101px;
	left: -605px;
	border-width: 13px;
}

/*styles the first line*/
.firstline hr {
	width: 475px;
	position: absolute;
	left: -169px;
	color: white;
	top: -50px;
}

/*styles the second line*/
.secondline hr {
	width: 475px;
	position: absolute;
	left: 432px;
	color: white;
	top: 85px
}

.title h1 {
	font-family: "Open Sans";
	font-size: 22px;
	color: white;
	position: absolute;
	left: -4px;
	top: -50px;
	letter-spacing: 8px;
}

/*The next three style the toolbar within the bottomtoolbar*/
.toptoolbarwithin ul {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 20px;
	top: 41px;
	width: 15%;
	list-style-type: none;
	letter-spacing: 3px;
	line-height: 28px;
}

.toptoolbarwithin a {
	font-family: "Open Sans";
	text-align: center;
	color: white;
	font-size: 15px;
	text-decoration: none;
}

/* styling for the search bar */
input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	position: relative;
	left: 1139px;
	top: 47px;
}

/* Styling for "Content" in copyright section */
.copyright h1 {
	font-family: 'Open Sans';
	font-size: 11px;
	position: absolute;
	color: white;
	top: 148px;
	left: 1022px;
	width: 4%;
}

/* styles the 2017 Nathan Koo. All Rights Reserved */
.copyright h2 {
	font-family: 'Open Sans';
	font-size: 11px;
	position: absolute;
	color: white;
	top: 147px;
	left: 1083px;
}

/* styles the copyright icon */
.copyright img {
	position: absolute;
	top: 156px;
	left: 1063px;
	color: white;
}
